#feature {
  width: 700px;
  margin: auto
}
/*MTURK*/
.icon {
  height:150px;
  margin-left:10px;
  margin-left:20px;
  width:150px
}

.imageCell {
  margin-right:10px;
}

.optionCell {
width:21px;
vertical-align:middle
}

.instuction {
  color: #000000;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

.red {
color: #FF0000
}

.alert {
  color: #FF0000;
  font-weight: bold;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
/*MTURK ENDS*/
body {
  position: relative;
  background-color: #fff;
  background-image: url(/privacygrade/static/bootstrap/img/grid-18px-masked.png);
  background-repeat: repeat-x;
  padding-top:136px
}
/* Masthead (docs home) */
.masthead {
  padding-top: 36px;
  margin-bottom: 72px;
}
.masthead h1;
  .masthead p {
    text-align: center;
  }
.masthead h1 {
  margin-bottom: 18px;
}
.masthead p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  line-height: 36px;
}

.jumbotron {
position: relative;
}
.jumbotron h1 {
  margin-bottom: 9px;
  font-size: 81px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  margin-bottom: 18px;
  font-weight: 300;
}

a {
 color:blue
}
