[submodule "dependencies/python_static_analyzer"]
	path = modules/staticAnalysisPipeline/python_static_analyzer
	url = https://github.com/CMUChimpsLab/python_static_analyzer.git
	branch = alex/debug_new_pipeline
[submodule "dependencies/privacyRating"]
	path = modules/staticAnalysisPipeline/privacyRating
	url = https://github.com/CMUChimpsLab/privacyRating.git
	branch = alex/debug_new_pipeline
[submodule "dependencies/privacyGradePrediction"]
	path = modules/staticAnalysisPipeline/privacyGradePrediction
	url = https://github.com/CMUChimpsLab/privacyGradePrediction.git
	branch = master
