\.DS_Store
*.pyc
*.swp
*.pytest*
*.log
__pycache__/
\.idea/
.vscode

all_apps\.csv
package_names\.csv
info_logs\.log
decompiler/apktool
decompiler/apktool\.jar
apks.txt
crawled_app_ids.txt

scraper/scraper-server/node_modules
apps_decompiled
apps/
logs/
tmp/
staticAnalysisRuns/

**/dbConfig.py
secrets\.py

