
\.DS_Store

all_apps\.csv

\.idea/

__pycache__/

apps/

logs/

package_names\.csv

info_logs\.log
scraper/scraper-server/node_modules

*.pyc
*.log
apps_decompiled
decompiler/apktool

decompiler/apktool\.jar
