[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
gpapi = "*"
requests = "*"
pyaxmlparser = "*"
pymongo = "*"

[dev-packages]

[requires]
python_version = "3.6"
