[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
pytest = "*"
pandas = "*"
gpapi = "*"
requests = "*"
pyaxmlparser = "*"
pymongo = "*"
pprint = "*"
docker = "*"
airflow = "*"

[dev-packages]

[requires]
python_version = "3.6"
