[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
staticanalysisdependencies = {path = "./dependencies"}

[dev-packages]
pymongo = "*"
mysqlclient = "*"
pandas = "*"
staticanalysisdependencies = {path = "./dependencies"}

[requires]
python_version = "2.7"
