$def with (appName, iconUrl, imageUrls, descriptionHtml, appType, appTypes, permission, purpose, packageName)
$var title:Mobile app privacy comfort
$var cssfile:https://s3.amazonaws.com/privacygrade/static/css/start.css
$var jsfile:https://s3.amazonaws.com/privacygrade/static/js/start.js
<div id='appInfo' class='span9 offset3'>
<h3>Instruction</h3>
<p class='instuction'> Please read the mobile app description carefully and answer the questions below.<br> HIT will be rejected if you just click through. </p>
<h4>App Title</h4>
<h4 style="margin-left:40px">$appName</h4>
<img class="icon" src='$iconUrl' alt="icon image">
<h4>App Screenshots</h4>
<div id='screenShots'>
<table border='0' width='65%'>
  <tbody>
    <tr>
      $for url in imageUrls:
        <td>
          <img class='imageCell' src=$url alt='screen shot' >
        </td>
    </tr>
  </tbody>
</table>
</div>
  
<h4>App Description</h4>
<div id='descrption' class='span8'>
  <p>$:descriptionHtml</p>
</div>
<hr class="span8">
<h4>Questions</h4>
<form name='mturk_form' method='post' id='mturk_form' action='https://www.mturk.com/mturk/externalSubmit'  onsubmit='return checkformbeforesubmit();'>
  <input type='hidden' value='' name='assignmentId' id='assignmentId'/>
  <input type='hidden' value='$packageName' name='packageName' id='packageName'/>
  <div id='Q1'>
    <h5>Question 1</h5>
      <p>What category do you think this mobile app belongs to?<span style='color:red'>(required)</span></p>
      $for type in appTypes:
        <p><input type='radio' name='Q1categoryQuestion' value='$type'> $type<br></p>
      <p><input type='hidden' name='realCategry' value='$appType'> </p>
  </div>
  <div id='Q2'>
    <h5>Question 2</h5>
    <p>Based on our analysis, <span style='color:blue'>$appName</span> accesses user's <strong><span style='color:blue'>$permission</span></strong> for <span style='color:blue'>$purpose</span></p>
    <p>Suppose you have installed $appName on your smart phone, do you feel comfortable letting it access your <strong><span style='color:blue'>$permission</span></strong> for <span style='color:blue'>$purpose</span></p>
    <p><input type='radio' name='Q2comfortQuestion' value='2'> Very comfortable<br></p>
    <p><input type='radio' name='Q2comfortQuestion' value='1'> Somewhat comfortable<br></p>
    <p><input type='radio' name='Q2comfortQuestion' value='-1'> Somewhat uncomfortable<br></p>
    <p><input type='radio' name='Q2comfortQuestion' value='-2'> Very uncomfortable<br></p>
  </div>
  <div id="Q3">
    <p>    Please provide any comments you may have below, we appreciate your input!</p>
    <textarea rows="3" cols="80" name="Q2comment"></textarea>
  </div>
  <p id='error_msg' class='alert' style='display:none'>**Please answer all the required questions.**</p>
  <p><input type='submit' id='submitButton' value='Submit' /></p>
</form>
<script language='Javascript'>turkSetAssignmentID();</script>
</div>
